@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DSEG7Classic';
  src: url('../assets/fonts/DSEG7Classic-BoldItalic.woff2') format('woff2')
}

.dseg {
  font-family: "DSEG7Classic";
}